version: 2.1

# Cache
extract_cache_version: &extract_cache_version
  run:
    name: Extract cache version from environment variable
    command: |
      echo "Cache version: $CACHE_VERSION"
      echo "$CACHE_VERSION" > cacheVersion

save_gradle_cache: &save_gradle_cache
  save_cache:
    key: gradle-{{ checksum "cacheVersion" }}-{{ checksum "build.gradle" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
    paths:
      - ~/.gradle

restore_gradle_cache: &restore_gradle_cache
  restore_cache:
    key: gradle-{{ checksum "cacheVersion" }}-{{ checksum "build.gradle" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}

# Workspace
attach_workspace: &attach_workspace
  attach_workspace:
    at: ~/release-probe

persist_android_workspace: &persist_android_workspace
  persist_to_workspace:
    root: ~/release-probe
    paths:
      - app/build/outputs/apk/
      - app/build/outputs/bundle/
      - app/build/outputs/mapping/

executors:
  android:
    docker:
      - image: reactivecircus/android-sdk:latest
    working_directory: ~/release-probe
    environment:
      JAVA_TOOL_OPTIONS: "-Xmx1g"
      GRADLE_OPTS: '-Dorg.gradle.workers.max=2 -Dkotlin.incremental=false'
      TERM: dumb

jobs:
  build:
    executor: android
    steps:
      - run:
          name: Setup Environment Variables
          command: |
            echo 'export BUILD_NUMBER="$CIRCLE_BUILD_NUM"' >> $BASH_ENV
            echo 'export APP_VERSION_CODE="$(./gradlew -q showVersionCode | tail -1)"' >> $BASH_ENV
            echo 'export APP_VERSION_NAME="$(./gradlew -q showVersionName | tail -1)"' >> $BASH_ENV
            echo 'export APP_ID="reactivecircus.releaseprobe"' >> $BASH_ENV

      - checkout
      - *extract_cache_version
      - *restore_gradle_cache
      - run:
          name: Decrypt Secrets
          command: |
            openssl aes-256-cbc -md sha256 -d -in secrets/release-probe.aes -out secrets/release-probe.keystore -k $ENCRYPT_KEY
      - run:
          name: Assemble
          command: |
            ./gradlew assemble bundleProdRelease
      - store_artifacts:
          path: app/build/outputs/
      - run:
          name: Upload Mapping File to Bugsnag
          command: |
            curl https://upload.bugsnag.com/ \
              -F proguard=@app/build/outputs/mapping/prodRelease/mapping.txt \
              -F apiKey=$RELEASE_PROBE_BUGSNAG_API_KEY \
              -F appId=$APP_ID \
              -F versionCode=$APP_VERSION_CODE \
              -F versionName=$APP_VERSION_NAME \
              -F overwrite=true
      - run:
          name: Cleanup Secrets
          command: rm -f secrets/release-probe.keystore
      - *persist_android_workspace
      - *save_gradle_cache

  unit_tests:
    executor: android
    steps:
      - checkout
      - *extract_cache_version
      - *restore_gradle_cache
      - run:
          name: Test
          command: |
            ./gradlew test -PslimTests -Pcoverage
            mkdir -p ~/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp --parents {} ~/junit/ \;
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit
      - *save_gradle_cache

  static_analysis:
    executor: android
    steps:
      - checkout
      - *extract_cache_version
      - *restore_gradle_cache
      - run:
          name: Android Lint
          command: ./gradlew :app:lintProdRelease
      - store_artifacts:
          path: app/build/reports/lint/lint-results.html
      - run:
          name: detekt
          command: |
            ./gradlew detekt
            mkdir -p ~/detekt/
            find . -type f -regex ".*/build/reports/detekt/.*html" -exec cp {} ~/detekt/ \;
      - store_artifacts:
          path: ~/detekt
      - *save_gradle_cache

  deploy_to_play:
    executor: android
    steps:
      - checkout
      - *extract_cache_version
      - *restore_gradle_cache
      - *attach_workspace
      # TODO use gradle-play-publisher to deploy to internal test track.
      - *save_gradle_cache

workflows:
  build-test-deploy:
    jobs:
      - build
      - unit_tests
      - static_analysis
      - deploy_to_play:
          filters:
            branches:
              only: /release\/*/
          requires:
            - build
            - unit_tests
            - static_analysis
